:root {
  --me-bg: #ffffff;
  --me-text-color: #374151;
  --me-scrollbar: #eee;
  --me-scrollbar-hover: #bbb;
}

html.dark {
  --me-bg: #050505;
  --me-text-color: #e5e7eb;
  --me-scrollbar: #111;
  --me-scrollbar-hover: #222;

}

html {
  background-color: var(--me-bg);
  color: var(--me-text-color);
  @apply relative font-sans;
}

/* scrollbar */
* {
  scrollbar-color: var(--me-scrollbar) var(--me-bg);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--me-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--me-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--me-scrollbar-hover);
}